:root {
  --bg-color: #282c34;
  --txt-color: #fafafa;
  --txt-quote: #fafafa;
  --bg-overlay: #ffffff05;
  --btn-light: #ffeb3b;
}

.high {
  --bg-color: #fafafa;
  --txt-quote: #282c34;
  --txt-color: #282c34;
  --bg-overlay: #fff;
  --btn-light: #282c34;
}

.App {
  background-color: var(--bg-color);
  color: var(--txt-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
